$green-color-100: #c4f5d7;
$green-color-200: #9deebd;
$green-color-300: #77e7a3;
$green-color-400: #50e089;
$green-color-500: #2ada70;
$green-color-600: #22b35c;
$green-color-700: #1b8c48;
$green-color-800: #136434;
$green-color-900: #0c3d1f;
$red-color-600: #B03337;
$red-color-700: #58161C;
$yellow-color-400:#FBC119;
$yellow-color-500: #CC9A12;

