@use './config' as *;

@include media-md {
 .header {
  grid-template-columns: 1fr 2fr 1fr;
  height: 60px;
   &_hamburger {
       display: none;
   }
   &_brand  {  
      grid-template-columns: 1fr;
      padding-left: 5px;
    }
   h1 {
    font-size: 2rem;
    .header_logo {
      width: 2.5rem;
      height: 2.5rem;
      top: 6px;
    }
  }
}

.header_navBar {
   grid-column: 3 / -1;
  .header_navBar_icon {
    width: 2.5rem;
  }
 }

 .header_search_bar {
   grid-column: 2 / 2;
   grid-row: 1 / 1;
   align-items: flex-end;
   width: 100%;
   
   input{
     padding: 14px;
   }

   button {
    width: 2.8rem;
    border-radius: 10px;
    left: -10px;
   }
  }

}