@use './abstratcs' as *;

.header {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 5px;
border-bottom: 2px solid $green-color-800;
padding-bottom: 5px;
background-color: $green-color-100;
  &header_brand  {  
    display: grid;
    grid-template-columns: 32px 1fr;
  }
  &_hamburger {
    width: 2rem;
    height: 2rem;
    color: $green-color-900;
  }
  h1 {
    color: $green-color-900;
    font-weight: map-get($font-weights, "bold");
    font-size: 1.3rem;

    .header_logo {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;
      top: 3px;
    }
  }
}